---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body.bp{:onload => "prettyPrint()" }
    .container
      .page-header
        = render "_title"
      .content
        %article
          %section
            %header
              %h2
                = "#{@item[:title]}"
          ~ yield
        = render "_disqus"
    = google_analytics @site.config[:site][:analytics_token]
