---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body
    .container-fluid
      .row-fluid
        .span4
          %p
        .span5
          .page-header
            = render "_title"
        .span4
          %p
      .content
        %article
          %section
          .row-fluid
            .span4
              %p
            .span5
              %header
                %h2
                  = @item[:long_title] || @item[:title]
            .span4
              %p
          .row-fluid
            .span4
              .row-fluid
                .span10
                  %p
                .span2
                  = render "_navigation"
            .span5
              ~ yield
              = render "_disqus"
            .span4
              %p
        .span4
          %p
    = google_analytics @site.config[:site][:analytics_token]
