---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body
    .container-fluid
      .row-fluid
        .span4
          %p
        .span4
          .page-header
            = render "_title"
          .content
            %article
              %section
                %header
                  %h2
                    = "#{@item[:title]}"
              ~ yield
            = render "_disqus"
        .span4
          %p
    = google_analytics @site.config[:site][:analytics_token]
